h1 {
    color: #fff;
    font-size: 20px;
    font-family: 'tahoma';
    background-color: red;
    display: flex;
}
p {
    font-size: 2rem;
    font-family: sans-serif;
    color: pink;
    background-color: red;
}